<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-fixed">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MEAN App</a>
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto navbar-right">
                <li>
                        <div class="dropdown">
                                <input class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                *ngIf="!_authService.loggedIn()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                value="Login">
                                  
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" routerLink='/mentorlogin'>Mentor</a>
                                  <a class="dropdown-item" routerLink='/login'>Learner</a>
                                  <a class="dropdown-item" routerLink='/adminlogin'>Admin</a>
                                </div>
                              </div>
                    <!--<input type="button" class="btn mr-3 btn-info" routerLink='/login' value="Log In">-->
                </li>
                <li>
                    <input type="button" class="btn btn-info" 
                    *ngIf="!_authService.loggedIn()" routerLink='/register' value="Register">

                    <input type="button" class="btn btn-info" 
                    *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" value="Logout">
                </li>
                <li>

                </li>

            </ul>
        </div>
    </div>
</nav>
































<!--Login modal popup
<div id="logInPopup" class="modal">
    <div class="modal-content animate">
        <div class="card rounded-0">
            <div class="card-header">
                <span onclick="document.getElementById('logInPopup').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form (ngSubmit)="loginUser()" #form1="ngForm">
                    <div class="form-group">
                        <label>Email Id</label>
                        <input type="email" [(ngModel)]="email" name="email" #email_ref="ngModel" required
                            placeholder="Enter Email Id" class="form-control">
                        <span *ngIf="email_ref.invalid && email_ref.dirty">
                            <span *ngIf="email_ref.errors.required" class="error"><small> Field is required </small></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" [(ngModel)]="password" name="password" #password_ref="ngModel" required
                            placeholder="Enter Password" class="form-control">
                        <span *ngIf="password_ref.invalid && password_ref.dirty">
                            <span *ngIf="password_ref.errors.required" class="error"><small> Field is required </small></span>
                        </span>
                    </div>
                    <button [disabled]="!form1.form.valid" class="btn btn-success">Login</button>
                </form>
                <div>
                    <h3 class="error">{{errorMessage}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--Register modal popup
<div id="regPopup" class="modal">
    <div class="modal-content animate">
        <div class="container-fluid">
            <h3>Sign Up</h3>
            <span onclick="document.getElementById('regPopup').style.display='none'" class="close"
                title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <input type="button" class="btn" value="Trainer" [routerLink]="['/trainer-register']"
                        onclick="document.getElementById('regPopup').style.display='none'">

                    <input type="button" class="btn" value="Learner" [routerLink]="['/learner-register']"
                        onclick="document.getElementById('regPopup').style.display='none'">
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- seems not working
    <script>
    // Get the modal
    var modal1 = document.getElementById('logInPopup');
    var modal2 = document.getElementById('regPopup');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
-->