<!--Login modal popup-->
<div id="logInPopup" class="modal">
    <div class="modal-content animate">
        <div class="card rounded-0">
            <div class="card-header">
                <span onclick="document.getElementById('logInPopup').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form class="form">
                   

                        <select class="form-control" [(ngModel)]="loginUserData.role" name="role">
                            <option value="trainer">Trainer</option>
                            <option value="learner">Learner</option>
                        </select>

                        <input [(ngModel)]="loginUserData.email" type="text" placeholder="email" class="form-control" name="email" required>


                        <input [(ngModel)]="loginUserData.password" type="password" placeholder="Password" class="form-control" name="password" required>


                        <label>
                            <input type="checkbox" checked name="remember" [(ngModel)]="loginUserData.rememberMe" name="rememberMe"> Remember me
                        </label>

                    

                    <div class="card-footer">
                        <div class="form-group">
                            <input type="button" class="btn btn-success" value="Log In"
                               (click)="loginUser()">
                            <span>Forgot password? Click <a href="#" id="passwordHelp">here</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!--Register modal popup-->
    <div id="regPopup" class="modal">
        <div class="modal-content animate">
            <div class="container-fluid">
                <h3>Sign Up</h3>
                <span onclick="document.getElementById('regPopup').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <input type="button" class="btn" value="Trainer" [routerLink]="['/trainer-register']"
                            onclick="document.getElementById('regPopup').style.display='none'">

                        <input type="button" class="btn" value="Learner" [routerLink]="['/learner-register']"
                            onclick="document.getElementById('regPopup').style.display='none'">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-fixed bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MEAN App</a>
            <div class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto navbar-right">
                    <li>
                        <input type="button" class="btn mr-3"
                            onclick="document.getElementById('logInPopup').style.display='block'" value="Log In">
                    </li>
                    <li>
                        <input type="button" class="btn"
                            onclick="document.getElementById('regPopup').style.display='block'" value="Register">
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- seems not working
    <script>
    // Get the modal
    var modal1 = document.getElementById('logInPopup');
    var modal2 = document.getElementById('regPopup');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
-->